* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*::selection {
  color: #000;
  background-color: #eee;
}

body {
  background: url(./wallpaper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* border: 1px solid green; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .7rem;
}

.date-clock {
  margin: auto;
  height: 80px;
  line-height: 80px;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
  font-size: 5.5rem;
}

.date-today {
  font-size: 1.2rem;
  text-align: center;
}

.weather {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.weather-top,
.weather-bottom {
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.search input {
  width: 80%;
  padding: 0.7rem 1rem;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  margin-right: -2rem;
}

.search input::-webkit-input-placeholder {
  color: rgb(200, 200, 200);
}

.search button {
  width: 20%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.weather-location {
  font-size: 1.2rem
}

.weather-summary {
  font-size: .9rem;
  color: rgb(200, 200, 200);
}

.weather-temp,
.weather-humidity,
.weather-wind,
.browser,
.os,
.network-conection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}

.browser-os {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  font-size: .9rem;
}

/* toast */
.toast {
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 1.25em;
  position: absolute;
  right: -365px;
  bottom: 1em;
  transition: 0.3s ease-in-out;
}

.toast.on {
  transform: translateX(-365px);
}

.close {
  cursor: default;
  float: right;
  font-size: 1.25rem;
  line-height: 1;
  margin-left: 1em;
  opacity: .8;
}

.jam {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: none;
  border-radius: 5px 0 5px 5px;
  color: #fff;
}

.map {
  text-decoration: underline;
}

/* .show {
  background-color: #fff;
  border: 1px solid #0363c8;
  border-radius: 3px;
  color: #0363c8;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: .5em 1em;
  text-transform: uppercase;
}

.show:hover {
  background-color: #0363c8;
  color: #fff;
} */